mixin checkbox-item(options)

    -
        var labelClassName = "checkbox__label"
        labelClassName += options.description ? " checkbox__label_rich" : ""

        var inputType = (options.type === "radio") ? options.type : "checkbox"

        var markClassName = "checkbox__mark"
        if (options.type) {
            markClassName = markClassName + "_" + options.type
        }

    label.checkbox__item
        input(type=inputType, id=options.id, checked=options.checked, name=options.name)
        div(class=markClassName)
        span(class=labelClassName) !{options.label}
            if options.description
                .checkbox__description !{options.description}
